@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styleCustomer.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>


</head>
<body  >
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 ">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.jpg" alt="logo" height="80" width="130">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bnn">
                Internet Banking Solutions
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-3" id="bnn">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Whats New  |  </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"> About Online IBS  |  </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Account"> Logout <img src="~/images/logout.png" alt="logo" height="30" width="30"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container content">
        <div class="row bg-light  align-items-center" style="height:50px">
            <div class="col-md-2" style="font-weight:bolder;font-size:22px">
                <i class="fa fa-clock-o"></i> <span id="time"></span>
            </div>
            <div class="col-md-6"><marquee style="color:red">Online Internet Banking Solutions Launches a new feature to Update Password.</marquee></div>
            <div class="col-md-4"><span style="font-weight:bold;font-size:20px;color:darkblue">Welcome  " @Context.Session.GetString("name") "  </span></div>
        </div>

        <div class="row">
            <div class="col-md-2 log" style="background-color: lightpink"> <a asp-action="Index" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/account.png" alt="image" height="70" width="70"><p>My Account</p></a></div>
            <div class="col-md-2 log" style="background-color:lemonchiffon"> <a asp-action="Deposit" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/deposit.png" alt="image" height="70" width="70"><p>Deposit Money</p></a></div>
            <div class="col-md-2 log" style=";background-color:lavender"> <a asp-action="Withdraw" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/withdraw.png" alt="image" height="70" width="70"><p>Withdraw Money</p></a></div>
            <div class="col-md-2 log" style="background-color:lightgoldenrodyellow"> <a asp-action="Transfer" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/transfer.png" alt="image" height="70" width="70"><p>Transfer Money</p></a></div>
            <div class="col-md-2 log" style="background-color:lightgrey"> <a asp-action="ViewInterest" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/interest.png" alt="image" height="70" width="70"><p>IntrestAmount</p></a></div>
            <div class="col-md-2 log" style="background-color:lightcyan"> <a asp-action="ViewTransactions" asp-route-accountNumber="@Context.Session.GetString("accountNumber")"><img src="~/images/transaction.png" alt="image" height="70" width="70"><p>My Transactions</p></a></div>
        </div>
        <div class="data">
            @RenderBody()
        </div>

    </div>



    <footer class="border-top footer text-muted" style="padding:20px">
        <div class="container">
            &copy; 2021 - Internet Banking Solutions - Version 1.0
        </div>
    </footer>

    
    <script>
        var display = setInterval(function () { Time() }, 0);

        function Time() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            document.getElementById("time").innerHTML = time;
        }
    </script>

</body>

</html>
