@model IBS.EntitiesLayer.Models.Transaction
@{
    ViewData["Title"] = "Transaction Successful";
    Layout = "~/Views/Customer/_LayoutCustomer.cshtml";
}



<div class="success">
    <h4>Transaction Successful !!!!!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TransactionDateTime)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TransactionDateTime)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TransactionFrom)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TransactionFrom)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TransactionTo)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TransactionTo)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>



