@model IEnumerable<IBS.EntitiesLayer.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Customer/_LayoutCustomer.cshtml";
}
<hr />
<h4><i>MY TRANSACTIONS</i></h4>
<hr />
<table id="myTable" class="table table-striped table-responsive gridtable" width="100%">
    <thead>
        <tr>
            <th class="th-sm" width="10%">
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th class="th-sm" width="20%">
                @Html.DisplayNameFor(model => model.TransactionDateTime)
            </th>
            <th class="th-sm" width="20%">
                @Html.DisplayNameFor(model => model.TransactionFrom)
            </th>
            <th class="th-sm" width="20%">
                @Html.DisplayNameFor(model => model.TransactionTo)
            </th>
            <th class="th-sm" width="10%">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="th-sm" width="20%">
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    ( @Html.DisplayFor(modelItem => item.TransactionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>