@model IEnumerable<IBS.EntitiesLayer.Models.Account>

@{
    ViewData["Title"] = "AllAccounts";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}


<hr />
<h4><i>List Of Account Holders</i></h4>
<hr />

<table id="myTable"class="table table-striped table-responsive gridtable" style="background-color:white">
    <thead>
        <tr>
            <th style="width:30%">
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.AvailableBalance)
            </th>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.InterestAmount)
            </th>
            <th style="width:30%">
                @Html.DisplayNameFor(model => model.AccountCreationTime)
            </th>
            <th style="width:10%">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestAmount)
                </td>
                <td>    
                    @Html.DisplayFor(modelItem => item.AccountCreationTime)
                </td>
                @if(item.AvailableBalance == 0)
                {
                <td>
                    NOT OPEN
                </td>
                }
                else
                {
                    <td>OPEN</td>
                }

            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
