@model IEnumerable<IBS.EntitiesLayer.Models.RegisterCustomer>

@{
    ViewData["Title"] = "GetNewCustomers";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h1>GetNewCustomers</h1>

<p>
    @ViewData["message"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FathersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MothersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>        
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
         
            <td>
                @Html.ActionLink("Details", "Details", new { username = item.UserName }) |
                @Html.ActionLink("Approve", "ApproveCustomer", new {  username=item.UserName  }) |
                @Html.ActionLink("Reject", "RejectCustomer", new {  username=item.UserName })
            </td>
        </tr>
}
    </tbody>
</table>
